* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#container {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

#menu-div {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: darkgrey;
  padding-top: 16px;
  padding-bottom: 16px;
}

#how-to-play-button,
#stats-button,
#credit-button {
  background-image: none;
  background-color: transparent;
  border: none;
  border-color: transparent;
  color: white;
  font-weight: 700;
  line-height: 24px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

#game {
  display: flex;
  width: 100%;
  max-width: 500px;
  height: 100%;
  flex-direction: column;
}

header {
  border-bottom: 1px solid rgb(58, 58, 60);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 5% auto;
  padding: 20px;
  width: 80%;
  color: black;
  max-width: 500px;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#how-to-play-header {
  margin: 40px;
}

#how-to-play-list {
  margin-left: 32px;
  margin-right: 32px;
  line-height: 24px;
  list-style-type: disc;
}

.how-to-play-points {
  text-align: left;
  margin: 8px;
}

.green-box {
  padding: 4px;
  color: white;
  background-color: rgb(14, 159, 110);
}

.yellow-box {
  padding: 4px;
  color: white;
  background-color: rgb(252, 202, 21);
}

#credit {
  width: 60%;
}

.share-button {
  border-radius: 8px;
  line-height: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.hidden {
  display: none;
}

.title {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: bold;
  margin: 6.4px 0 6.4px 0;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#guess-div {
  align-self: center;
}

#input {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  width: 170px;
  line-height: 25px;
  margin-top: 20px;
  font-size: 15px;
}
#input:focus {
  outline-color: #ceb771;
}
ul {
  list-style: none;
  text-align: center;
}
.list {
  position: absolute;
  width: 174px;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
}
.list-items {
  padding: 10px 5px;
}
.list-items:hover {
  background-color: #dddddd;
}

#table-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
}

#final-score {
  color: rgb(0, 0, 0);
}

#table {
  width: 100vw;
  margin-top: 30px;
  align-self: center;
  text-align: center;
}
#synopsis {
  width: 20%;
}
.category {
  width: 12%;
}

@media (max-width: 480px) {
  #table {
    font-size: 0.3rem
  }
}

@media (min-width: 481px) {
  #table {
    font-size: 0.4rem
  }
}

@media (min-width: 769px) {
  #table {
    font-size: 0.6rem
  }
}

@media (min-width: 1025px) {
  #table {
    font-size: 0.8rem
  }
}

@media (min-width: 1201px) {
  #table {
    font-size: 1rem;
  }
}